@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Are+You+Serious&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #261e28;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Are You Serious", cursive;
  font-size: 2rem;
}